<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Job Listings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h2>Job Listings</h2>

  <!-- Iterate over jobs list and show every element-->
  <div th:each="job : ${jobs}" class="list-group">
    <div class="list-group-item">
      <h5>
        <a th:href="${job.jobLink}" th:text="${job.jobTitle}" class="font-weight-bold text-dark"></a>
      </h5>
      <p><strong>Profile:</strong></p>
      <ul>
        <li th:each="profile : ${job.profile}" th:text="${profile}"></li>
      </ul>

      <!-- Accordion to show/hide details -->
      <details>
        <summary>Details anzeigen</summary>
        <br>
        <p><strong>Jobbeschreibung:</strong></p>
        <ul>
          <li th:each="description : ${job.jobDescription}" th:text="${description}"></li>
        </ul>
        <br>
        <p><strong>Benefits:</strong></p>
        <ul>
          <li th:each="benefit : ${job.benefits}" th:text="${benefit}"></li>
        </ul>
        <br>
        <p><strong>Unternehmen:</strong></p>
        <ul>
          <li th:each="intro : ${job.introduction}" th:text="${intro}"></li>
        </ul>
        <br>
      </details>
    </div>
  </div>
</div>

</body>
</html>
